@charset "UTF-8";

/* å…±é€šéƒ¨?¿½?
--------------- */
body {
	font-size: 120%;
	max-width:1200px;
	background-color:#e0ffff;
	line-height:1.64;
}

a {
	text-decoration: none;
}

.c{
	padding:0 8%;
}
.p{
	margin-right:20px;
}

.flex{
	display:flex;
}

.box29 {
    margin: 2em 0;
    background: #dcefff;
}
.box29 .box-title {
    font-size: 1em;
    background: #f1e259;
    padding: 1px;
    text-align: center;
    color: rgb(69, 65, 65);
    font-weight: bold;
    letter-spacing: 0.05em;
}
.box29 p {
    padding: 20px 20px 0 20px;
    margin: 0;
}
.flex-2{
	display:flex;
	justify-content: space-around;
	border: #000;
	
}


.yoyo{
	font-size: 1.2rem;
	writing-mode: vertical-rl;
	text-align: center;
	list-style: none;
	font-weight: bold;
	border: solid 5px;
	border-radius: 50%;
	border-color: #b3424a;
	padding: 25px 50px 30px 50px;
	margin-left:auto;
	margin-right:0;	
	margin-bottom:-90px;
	font-family:  "æ¸¸æ˜æœ", YuMincho, "Hiragino Mincho ProN W3", "ãƒ’ãƒ©ã‚®ãƒï¿½??¿½æœ? ProN W3", "Hiragino Mincho 	ProN", "HGæ˜æœE", "??¿½?¿½??¿½?¿½ ??¿½?¿½æ˜æœ", "??¿½?¿½??¿½?¿½ æ˜æœ", serif;
}

.jyoumou {
	font-family: æ¸¸æ˜æœ,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGSæ˜æœE,ãƒ¡ã‚¤ãƒªã‚ª,Meiryo,serif;
	text-align:center;
	text-decoration:underline #0b0;
	color: #000;
}

.iroha {
	 font-family: æ¸¸æ˜æœ,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGSæ˜æœE,ãƒ¡ã‚¤ãƒªã‚ª,Meiryo,serif;
	text-align:center;
	text-decoration:underline #0b0;
	color: #000;	
}
.gakusyuu {
 	font-family: æ¸¸æ˜æœ,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGSæ˜æœE,ãƒ¡ã‚¤ãƒªã‚ª,Meiryo,serif;
	text-align:center;
	text-decoration:underline #0b0;
	color: #000;
}
.oritatami{
	margin-left: auto;
    margin-right: auto;
    width: 8em
}

.picture {
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(../ãƒ›ã?¼ãƒ?ãƒšã?¼ã‚¸åˆ¶ä½?/.jyoumou.jpg);
	min-height: 100vh;
}