@charset "utf-8";

html {
    font-size: 100%;
}
body {
    font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
    line-height: 1.7;
    color: #432;
}
.daimei {
	text-align:center;
	margin-top:0%;
	font-size:30px;
	margin: 0; 
    padding: 0;
    font-family:  serif;
	background-color:#b0e0e6;
    color:#000000;
}
.box5 {
    padding: 0.5em 1em;
    margin: 1rem 10rem;
    border: double 5px #4ec4d3;
}
.box5 a {
    padding: center;
	text-decoration: none;
}

/*aaa*/
.slider img {
    width: 100px;/*スライダー�?の画�?*/
    height: auto;
	max-width: 400px;
}

.slider .slick-slide {
  transform: scale(0.7);/*左右の画像�?�サイズ�?80%に*/
  transition: all .5s;/*拡大�?透過のアニメーション�?0.5秒で行う*/
  opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
  transform: scale(1);/*中央の画像�?�サイズ�?け等倍に*/
  opacity: 1;/*透過な�?*/
}

/*矢印の設�?*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マ�?�クに*/
    outline: none;/*クリ�?クをしたら出てくる�?線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設�?*/

.slick-dots {
    text-align:center;
  	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
  	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドット�?�タンのサイズ*/
    height:8px;/*ドット�?�タンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドット�?�タンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドット�?�タンの現在地表示の色*/
}