@charset "UTF-8";

/* 共通部??��?��?
--------------- */
body {
	font-size: 120%;
	max-width:1200px;
	background-color:#e0ffff;
	line-height:1.9;
	font-family:  "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ�?�朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "?��?�� ?��明朝", "?��?�� 明朝", serif;
}

a {
	text-decoration: none;
}

a:hover{
	color:#f00;
}

.c{
	padding:0 8%;
}
.p{
	margin-right:15px;
	width: 605px;
}

.flex{
	display:flex;
	
}

.flex-2{
	display:flex;
	justify-content: space-around;
	border: #000;
}

.flex3{
	display:flex;
	justify-content: center;
}

.box29 {
    margin: 2em 0;
    background: #dcefff;
}
.box29 .box-title {
    font-size: 1em;
    background: #f1e259;
    padding: 1px;
    text-align: center;
    color: rgb(69, 65, 65);
    font-weight: bold;
    letter-spacing: 0.05em;
}
.box29 p {
    padding: 20px 20px 0 20px;
    margin: 0;
}


.yoyo{
	font-size: 1.2rem;
	writing-mode: vertical-rl;
	text-align: center;
	list-style: none;
	font-weight: bold;
	border: solid 5px;
	border-radius: 50%;
	border-color: #b3424a;
	padding: 25px 50px 30px 50px;
	margin-left:auto;
	margin-right:0;	
	margin-bottom:-90px;
	font-family:  "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ�???��?��?��? ProN W3", "Hiragino Mincho 	ProN", "HG明朝E", "???��?��??��?��???��?��??��?�� ???��?��??��?��明朝", "???��?��??��?��???��?��??��?�� 明朝", serif;
}

.jyoumou {
	text-align:center;
	text-decoration:underline #0b0;
	color: #000;
	font-family:  "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ�?�朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "?��?�� ?��明朝", "?��?�� 明朝", serif;
}

.iroha {
	font-family:  "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ�???��?��?��? ProN W3", "Hiragino Mincho 	ProN", "HG明朝E", "???��?��??��?��???��?��??��?�� ???��?��??��?��明朝", "???��?��??��?��???��?��??��?�� 明朝", serif;
	text-align:center;
	text-decoration:underline #0b0;
	color: #000;	
}
.gakusyuu {
	font-family:  "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ�???��?��?��? ProN W3", "Hiragino Mincho 	ProN", "HG明朝E", "???��?��??��?��???��?��??��?�� ???��?��??��?��明朝", "???��?��??��?��???��?��??��?�� 明朝", serif;
	text-align:center;
	text-decoration:underline #0b0;
	color: #000;
}
.oritatami{
	margin-left: auto;
    margin-right: auto;
    width: 8em;
}

.picture {
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(../ホ�??��?��?ペ�??��ジ制?��?/.jyoumou.jpg);
	min-height: 100vh;
}

.huti{
	border:solid rgb(0, 0, 0);
}

.flex img{
	margin-right:15px;
	width: 605px;
}

/*.flex-2 img{
	margin-top: 20px;
	margin-right:15px;
	width: 300px;
}

.huti img{
	margin-top: 20px;
	margin-right:15px;
	width: 300px;
} */
