@charset "utf-8";
";

/* 共通部分
------------------ */
html {
    font-size: 100%;
}
.yoyo{
	font-size: 1.2rem;
	writing-mode: vertical-rl;
	text-align: center;
	list-style: none;
	font-weight: bold;
	border: solid 5px;
	border-radius: 50%;
	border-color: #b3424a;
	padding: 25px 50px 30px 50px;
	margin-left:auto;
	margin-right:0;	
	margin-bottom:-40px;
	font-family:  "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho 	ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}



body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.65;    
    background-color: #e0ffff;
    font-size: 120%;
	max-width:1200px;
	padding:0 8%;
}
a {
    text-decoration: none;
}
img {
    width: 500px;
    max-width:90%;
}
.daimei {
	
    padding:0.05eem 0;
    background-color:#b0e0e6;
    color:#000000;
	 
	
    font-family:  serif;
	text-align:center;
	
	font-size:30px;
}


