@charset "UTF-8";

/* 共通部�?
--------------- */
body {
	font-size: 120%;
	max-width:1200px;
	background-color:#e0ffff;
	line-height:1.64;
}

a {
	text-decoration: none;
}

.c{
	padding:0 8%;
}
.p{
	margin-right:20px;
}

.flex{
	display:flex;
}

.yoyo{
	font-size: 1.2rem;
	writing-mode: vertical-rl;
	text-align: center;
	list-style: none;
	font-weight: bold;
	border: solid 5px;
	border-radius: 50%;
	border-color: #b3424a;
	padding: 25px 50px 30px 50px;
	margin-left:auto;
	margin-right:0;	
	margin-bottom:-90px;
	font-family:  "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ�?�朝 ProN W3", "Hiragino Mincho 	ProN", "HG明朝E", "?��?�� ?��明朝", "?��?�� 明朝", serif;
}

.jyoumou {
	font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
	text-align:center;
	text-decoration:underline #0b0;
	color: #000;
}

.iroha {
	 font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
	text-align:center;
	text-decoration:underline #0b0;
	color: #000;	
}
.gakusyuu {
 	font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
	text-align:center;
	text-decoration:underline #0b0;
	color: #000;
}
.oritatami{
	margin-left: auto;
    margin-right: auto;
    width: 8em
}

.picture {
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(../ホームページ制作/.jyoumou.jpg);
	min-height: 100vh;
}