@charset "utf-8";

html {
    font-size: 100%;
    background-color:#e0ffff;
}
body {
	font-family: "Yu Gothic Medium", "貂ｸ繧ｴ繧ｷ繝?繧ｯ Medium", YuGothic, "貂ｸ繧ｴ繧ｷ繝?繧ｯ菴?", "繝偵Λ繧ｮ繝手ｧ偵ざ Pro W3", sans-serif;
	line-height: 1.8;
	color: #432;

}

.zentai{
    background-color:#e0ffff;

}

.font {
    font-weight: bold;
}

.daimei {
	text-align:center;
	margin-top:0%;
	font-size:30px;
	margin: 0; 
    padding: 0;
    font-family:  serif;
	background-color:#b0e0e6;
    color:#000000;
}

.box5 {
    padding: 0.5em 1em;
    margin: 1rem 10rem;
    border: double 5px #4ec4d3;
}
.box5 a {
    padding: center;
	text-decoration: none;
}

.slider img {
    overflow:hidden;
    border:solid 1px;
    display:flex;
    width: 100%;
    height: auto;
	max-width: 370px;
}

.slider .slick-slide {
  transform: scale(0.7);
  transition: all .5s;
  opacity: 0.5;
}

.slider .slick-slide.slick-center{
  transform: scale(1);
  opacity: 1;
}

.slick-prev, 
.slick-next {
    position: absolute;
    top: 42%;
    cursor: pointer;
    outline: none;
    border-top: 2px solid #666;
    border-right: 2px solid #666;
    height: 15px;
    width: 15px;
}

.slick-prev {
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {
    right: -1.5%;
    transform: rotate(45deg);
}

.slick-dots {
    text-align:center;
  	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
  	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;
    height:8px;
    display:block;
    border-radius:50%;
    background:#ccc;
}