@charset "utf-8";


html {
    font-size: 100%;
    background-color:#e0ffff;
}

a {
	text-decoration: none;
}

body {
	font-family: "Yu Gothic Medium", "貂ｸ繧ｴ繧ｷ繝?繧ｯ Medium", YuGothic, "貂ｸ繧ｴ繧ｷ繝?繧ｯ菴?", "繝偵Λ繧ｮ繝手ｧ偵ざ Pro W3", sans-serif;
	line-height: 1.8;
	color: #432;

}


.main-nav {     /*逶ｮ谺｡*/
	font-size: 1.2rem;
	writing-mode: vertical-rl;
	text-align: center;
	list-style: none;
	font-weight: bold;
	border: solid 5px;
	border-radius: 50%;
	border-color: #b3424a;
    padding: 25px 50px 30px 50px;
    margin-left:auto;
    margin-bottom:-70px;
	margin-right:0;	
	font-family:  "貂ｸ譏取悃", YuMincho, "Hiragino Mincho ProN W3", "繝偵Λ繧ｮ繝趣ｿｽ??�ｿｽ�ｿｽ�ｿｽ? ProN W3", "Hiragino Mincho 	ProN", "HG譏取悃E", "??�ｿｽ�ｿｽ?�ｿｽ�ｿｽ??�ｿｽ�ｿｽ?�ｿｽ�ｿｽ ??�ｿｽ�ｿｽ?�ｿｽ�ｿｽ譏取悃", "??�ｿｽ�ｿｽ?�ｿｽ�ｿｽ??�ｿｽ�ｿｽ?�ｿｽ�ｿｽ 譏取悃", serif;
}

.aa{
    font-size: 2.5rem;
    font-family: 貂ｸ譏取悃,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS譏取悃E,繝｡繧､繝ｪ繧ｪ,Meiryo,serif;
    text-align:center;
    text-decoration:underline #0b0;
    color: #000;

}
.zentai{
    background-color:#e0ffff;

}

.font {
    font-weight: bold;
}



.daimei {
    font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
	text-align:center;
	text-decoration:underline #0b0;
	color: #000;
}

.box5 {
    margin: 1rem 10rem;
    border: double 5px #4ec4d3;
}
.box5 a {
    padding: center;
	text-decoration: none;
}

.bb{
    margin: 0 auto;
    width: 80%;
    max-width: 500px;
}

.slider img {
    overflow:hidden;
    border:solid 1px;
    display:flex;
    width: 100%;
    height: auto;
	max-width: 370px;
}

.slider .slick-slide {
  transform: scale(0.7);
  transition: all .5s;
  opacity: 0.5;
}

.slider .slick-slide.slick-center{
  transform: scale(1);
  opacity: 1;
}

.slick-prev, 
.slick-next {
    position: absolute;
    top: 42%;
    cursor: pointer;
    outline: none;
    border-top: 2px solid #666;
    border-right: 2px solid #666;
    height: 15px;
    width: 15px;
}

.slick-prev {
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {
    right: -1.5%;
    transform: rotate(45deg);
}

.slick-dots {
    text-align:center;
  	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
  	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;
    height:8px;
    display:block;
    border-radius:50%;
    background:#ccc;
}