@charset "utf-8";


/* 共通部�?
------------------ */
html {
    font-size: 100%;
}
.yoyo{
	font-size: 1.2rem;
	writing-mode: vertical-rl;
	text-align: center;
	list-style: none;
	font-weight: bold;
	border: solid 5px;
	border-radius: 50%;
	border-color: #b3424a;
	padding: 25px 50px 30px 50px;
	margin-left:auto;
	margin-right:0;	
	margin-bottom:-40px;
	font-family:  "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ�?�朝 ProN W3", "Hiragino Mincho 	ProN", "HG明朝E", "?��?�� ?��明朝", "?��?�� 明朝", serif;
}



body {
    font-family: "Yu Gothic Medium", "游ゴシ�?ク Medium", YuGothic, "游ゴシ�?ク�?", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.65;    
    background-color: #e0ffff;
    font-size: 120%;
	max-width:1200px;
	padding:0 8%;
}
a {
    text-decoration: none;
}
img {
    width: 500px;
    max-width:90%;
}
.daimei {

	font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
	text-align:center;
	text-decoration:underline #0b0;
	color: #000;	
   
}
.oritatami2{
	margin-left: auto;
    margin-right: auto;
    width: 8em
}