@charset "utf-8";


/* å…±é€šéƒ¨åˆ?
------------------ */
html {
    font-size: 100%;
}
.yoyo{
	font-size: 1.2rem;
	writing-mode: vertical-rl;
	text-align: center;
	list-style: none;
	font-weight: bold;
	border: solid 5px;
	border-radius: 50%;
	border-color: #b3424a;
	padding: 25px 50px 30px 50px;
	margin-left:auto;
	margin-right:0;	
	margin-bottom:-40px;
	font-family:  "æ¸¸æ˜æœ", YuMincho, "Hiragino Mincho ProN W3", "ãƒ’ãƒ©ã‚®ãƒæ?æœ ProN W3", "Hiragino Mincho 	ProN", "HGæ˜æœE", "?¼­?¼³ ?¼°æ˜æœ", "?¼­?¼³ æ˜æœ", serif;
}



body {
    font-family: "Yu Gothic Medium", "æ¸¸ã‚´ã‚·ãƒ?ã‚¯ Medium", YuGothic, "æ¸¸ã‚´ã‚·ãƒ?ã‚¯ä½?", "ãƒ’ãƒ©ã‚®ãƒè§’ã‚´ Pro W3", sans-serif;
    line-height: 1.65;    
    background-color: #e0ffff;
    font-size: 120%;
	max-width:1200px;
	padding:0 8%;
}
a {
    text-decoration: none;
}
img {
    width: 500px;
    max-width:90%;
}
.daimei {
	
    padding:0.05eem 0;
    background-color:#b0e0e6;
    color:#000000;
	 
	
    font-family:  serif;
	text-align:center;
	
	font-size:30px;
}
.oritatami2{
	margin-left: auto;
    margin-right: auto;
    width: 8em
}