@charset "utf-8";

body {
	background-color: #e0ffff;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0.6%;
	font-family:  "?申?申?申?申?申?申", YuMincho, "Hiragino Mincho ProN W3", "?申q?申?申?申M?申m????申?申 ProN W3", "Hiragino Mincho ProN", "HG?申?申?申?申E", "?????? ????申?申?申?申", "?????? ?申?申?申?申", serif;
}

a{
	text-decoration: none;
}

a:hover{
	color: #f00;
}

.kaeru{
	font-size: 1.4rem;
}

.kaeru li:hover {
	color: #f00;
}	

.title{
	border-bottom: 3px dashed rgb(231, 210, 19);
	width: 270px;
	text-align: center;
}

.bun{
	line-height:1.7rem;
}

.hyou {
	border-collapse:  collapse;
	border: solid 2px;
	margin-left: 5px;
    max-height: 20px 
}
.hyou td {
	border: solid 1px;
	padding: 0 10px;
}
.hyou th {
	height: 78px;
	border: solid 2px;
}
.f {
    width: 370px;
	padding: 8px 0;
}
.f2{
	width: 50px;
}